.Tabs-tablist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Tabs-tablistItem {
  display: inline-block;
}

.Tabs-tablistItem + .Tabs-tablistItem {
  margin-left: 0.3em;
}

.Tabs-panel {
  border: 1px solid #ccc;
  padding: 1em;
}

.Tabs-tab {
  cursor: pointer;
}

.Tabs-tab:focus {
  box-shadow: 0 0 3px 3px #09f;
}

.Tabs-tabInner {
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
  padding: 5px 20px;
  background: #ccc;
  position: relative;
}

.Tabs-tabInner.is-active {
  background: #fff;
  border-color: #ccc;
}

.Tabs-tabInner.is-active::after {
  content: "";
  background: #fff;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}

/* Fancy */

.FancyTabs-tablist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.FancyTabs-tablistItem {
  display: inline-block;
}

.FancyTabs-tablistItem + .FancyTabs-tablistItem {
  margin-left: 0.3em;
}

.FancyTabs-panel {
  border-top: 5px solid #A9F47E;
  padding: 1em;
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
}

.FancyTabs-tab {
  cursor: pointer;
}

.FancyTabs-tab:focus {
  text-decoration: underline;
  outline: 0;
}

.FancyTabs-tabInner {
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
  padding: 15px 20px;
  background: #ccc;
  position: relative;
  transition: transform 0.2s ease-out, background 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s ease-out, background 0.2s linear;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
}

.FancyTabs-tabInner.is-active {
  background: #A9F47E;
  border-color: #41D0CB;
  border-width: 1px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.FancyTabs-tabInner.is-active::after {
  content: "";
  background: #fff;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}

.FancyTabs-tabIcon {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 0.5em;
}

.FancyTabs-tabIcon--map {
  background-image: url(/svg/map.svg);
}

.FancyTabs-tabIcon--megaphone {
  background-image: url(/svg/megaphone.svg);
}

.FancyTabs-tabIcon--trophy {
  background-image: url(/svg/trophy.svg);
}

.FancyTabs-panelInner {
  transition: transform 0.3s ease;
}

.FancyTabs-panelInner.is-enter {
  transform: translateY(-120%);
}

.FancyTabs-panelInner.is-enter-active,
.FancyTabs-panelInner.is-leave {
  transform: translateY(0);
}

.FancyTabs-panelInner.is-leave-active {
  transform: translateY(120%);
}
