.Tabs-tablist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Tabs-tablistItem {
  display: inline-block;
}

.Tabs-tablistItem + .Tabs-tablistItem {
  margin-left: 0.3em;
}

.Tabs-panel {
  border: 1px solid #ccc;
  padding: 1em;
}

.Tabs-tab {
  cursor: pointer;
}

.Tabs-tab:focus {
  box-shadow: 0 0 3px 3px #09f;
}

.Tabs-tabInner {
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
  padding: 5px 20px;
  background: #ccc;
  position: relative;
}

.Tabs-tabInner.is-active {
  background: #fff;
  border-color: #ccc;
}

.Tabs-tabInner.is-active::after {
  content: "";
  background: #fff;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}
